.header{
    background-color: #99ccff;
    width: 100%;
    height: 60px; 
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
}

.homeButtonIcon{
    display: flex;
    width: fit-content;
    height: 60px;
    align-items: center;
    vertical-align: middle;
    margin-left: 1%;
}

.homeIcon{
    width: 45px;
    height: fit-content;
    transition: 300ms;
   
    
}
.homeIcon:hover{
    width: 50px;
    transition: 300ms;  
    
}

.homeButtonText{
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 500px;
    justify-content: space-between;
}

.homeButtonTextElements{
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms;
    
}
.homeButtonTextElements:hover{
    font-size: 18px;
    text-shadow: 10px 10px 10px  #89CFF0;
    transition: 300ms;
    transform: translate(0px, -10%);  
}

.dropbtnheader {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms;
  }
  
.dropdownheader {
    position: relative;
    display: inline-block;
  }
  
.dropdownheader-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdownheader-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdownheader-content a:hover {font-weight: bold; background-color: lightgray;}

.dropdownheader:hover .dropdownheader-content {display: block;}
  
.headerbox{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
