.lastRuns{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5ec0ed;

}
.lastRuns p{
    display: flex;
    justify-content: start;
   margin: 20px;

}
.nonactive{
    display: none;
}

.showbutton p{
    margin: 0px;
}