.newSource{
    border-radius: 50px 200px 50px 200px;
    width: 800px;
    margin: auto;
    background: #89CFF0;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 80px;
    border: 1px #45a6d4 solid;
    box-shadow: 10px 10px 15px grey;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    background: white;
}