#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

body{
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Form {
  margin-left: 5%;
}

.DataSetup{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100vh;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Setup{
  width: 100vh;
  margin: 4% auto;
  padding: 1%;
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
  
}

.sourcesBox{
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 50px;
  max-width: 650px;
  min-width: 400px;
  
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px grey;
  align-items: center;
}
.sourcesBoxDiv{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.sourcesBox p{
  padding-left: 20px;
  padding-right: 20px;
}
.active {
  background-color: green;
}
.wait {
  background-color: rgb(255, 190, 69);
}

.sourcesBoxButton svg{
  color: black;
}

.sourcesBoxButton svg:hover{
  color: #3366ff;
}

.active-text {
  color: white;
}

.yourSources{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  justify-content: space-evenly;
  align-self: start;
}

.yourSources h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  margin: 0px;
}


.clearfix {
  display: flex;
  text-align: left;
  margin: 10px 10px 0px 10px;
  background-color: white;
}

.half {
  width: 60%;
  height: 80vh; /* nastavenie výšky na 100% výšky obrazovky */
  overflow-y: auto; /* povolenie vertikálneho scrollovania, ak je obsah dlhší ako výška */
  border: 1px solid;
  word-break: break-word; /* Zalomí text, aby sa zmestil do šírky kontajnera */
  white-space: pre-wrap;
  resize: none;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
  margin-right: 20px;
}

.half p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.half h2 {
  padding-left: 20px;
}

.textfield {
  width: 30%;
  height: 80vh;
  border: 1px solid;
  word-break: break-word;
  white-space: pre-wrap;
  resize: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* zahrnie padding a border do celkovej veľkosti prvku */
  box-shadow: 5px 5px 10px grey;
}

.textfield p {
  color: black;
}


.textfield textarea {
  resize: none;
  flex: auto;
}

textarea {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/* Vytvára oddelenie medzi jednotlivými položkami */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.scraperInfo{
  width: fit-content;
  margin: auto;
}
.scraperInfo li {
  text-align: left;
}

.helpSearchData{
  display: flex;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px 10px grey;
  padding: 5px;
}

.helpSearchBox{
  margin: auto;
  color: black;
  font-size: 16px;
}

.iframeClass{
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-right: 20px;
  box-shadow: 5px 5px 10px grey;
 
}

.iframeClass iframe {
  width: 100%;
  height: 80vh;
  
}

.articleInnerContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.articleInnerContent * {
  margin: 0px;
}

.articleImage {
  display: block;
  width: 80%;
  margin-left: 20px;
 
}

.articleLink {
  text-decoration: none;
  color: black;
  transition: 350ms;
}

.articleLink:hover {
  transition: 350ms;
  color: black;
  text-shadow: 8px 8px 12px rgb(114, 114, 114);

}

.articleLink h1 {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  padding-right: 20px;
  text-align: justify;
}

.date_content{
  display: flex;
  margin: 0px;
  padding: 0px;
  color: rgb(114, 114, 114); 
}

.articleDesc p{
  margin-top: 10px;
  margin-bottom: 0px;
}

.chooseFrom{
  display: flex;
  flex-direction: column;
  width: 10%;
}

.chooseFrom button{
  height: 60px;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
  transition: 300ms;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.active-menu-button{
  border: 4px solid;
  color: white;
  border-color: darkblue;
  background-color: 	#3366ff;
}
.nonactive-menu-button{
  color: black;
  
  box-shadow: 3px 3px 3px grey;
  border: none;
  background-color: #bbeeff;    
}

.chooseFrom button:hover{
  transform: translate(0px, -10%);
  transition: 300ms;
}

.templates{
  display: flex;
  align-items: center;
  height: 60px;
}

.templateButtons{
  display: flex;
  width: 30%;
  align-items: center;
}


.templateButtons button{
  cursor: pointer;
  margin-left: 12px;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  transition: 300ms;
  
}

.templateButtons button:hover{
  transform: translate(0px, -10%);
  transition: 300ms;
}

.active-button{
  color: white;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  border: 3px solid; 
  border-color: darkblue;
  background-color: 	#3366ff;
}

.active-button:hover{
  box-shadow: 6px 6px 10px darkgrey;
}

.nonactive-button{
  color: black;
  text-shadow: 1px 1px rgb(195, 220, 232);
  box-shadow: 3px 3px 3px grey;
  background-color: #bbeeff;   
  border: none; 
}

.nonactive-button:hover{
  box-shadow: 6px 6px 10px darkgrey;
}

.spanLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80vh; /* nastavenie výšky na 100% výšky obrazovky */
  box-sizing: border-box;
  box-shadow: 5px 5px 10px grey;
  margin-right: 20px;
}

.loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #89CFF0;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }


  .oneTimeScraper{
    display: flex;
    width: 100%;
    min-width: 300px;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
  }

  .oneTimeScraper *{
    margin-left: 20px;
    margin-right: 20px;
  }

  .cronScraper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 50px;
  }

  .cronScraper *{
    margin-left: 20px;
    margin-right: 20px;
  }


  .StartAndStop{
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-top: 6%;
  }

  .isrunningscraper{
    height: fit-content;
    margin-bottom: 15px;
    background-color: #dfdfdf
  }
  .isrunningscraper *{
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .isrunningscraper p{
    color: grey;
  }

.scraperDes{
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.scraperDesH2{
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
}

.descScrape{
  position: relative;
  z-index: -1;
  top: 70px;
  height: 300pX;
  background: white;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
}

.startscraper{
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
}


.startscraper button{ 
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  margin-bottom: 50px;
}

.runsofscraper{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;

}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

@media only screen and (max-width: 900px) {
  .templateButtons {
    flex-direction: column;
  }
  .chooseFrom{
    flex-direction: column;
  }
}